<div class="bg-slate-100">
  <p>
    <%= link_to "ログアウト", logout_path, data: {turbo_method: :delete} %>
  </p>
  <h1>写真一覧</h1>

  <%= link_to 'MyTweetAppと連携', oauth_connect_path %>

  <p>Hello, <%= current_user.user_id %>
  <p><%= link_to '写真アップロード', new_photo_path %></p>
  <p>You have <%= @photos.length %> photos</p>
  <div style='display: flex; flex-wrap: wrap; gap: 10px;'>
    <% @photos.each do |photo| %>
      <div>
        <%=image_tag photo.image_url, alt: photo.title, width: '200px', height: 'auto' %>
        <p><%= photo.title %></p>
      </div>
    <% end %>
  </div>
</div>
