<div>
  <h1 class='header'>写真一覧</h1>

  <nav class='nav'>
  <% unless access_token? %>
    <%= link_to 'MyTweetAppと連携', oauth_connect_path, class: 'item' %>
  <% else %>
    <span class='item'>MyTweetAppと連携中</span>
  <% end %>
  <%= link_to '写真をアップロード', new_photo_path, class: 'item' %>
  </nav>

  <p class='photo-info'>トータル写真数<%= @photos.length %>枚</p>
  <div class='photos'>
    <% @photos.each do |photo| %>
      <div class='photo'>
        <h3 class='photo-title'><%= photo.title %></h3>
        <div class='photo-container'>
          <%= link_to photo.image_url do %>
          <%= image_tag photo.image_url, alt: photo.title, class: 'photo-image' %>
          <% end %>
        </div>
        <% if access_token? %>
        <p class='photo-actions'>
          <%= link_to 'ツイート', oauth_tweet_path(photo_id: photo.id), data: { turbo_method: :post }, class: 'btn-tweet' %>
        </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
